<h1>编辑说说</h1>

<%= render 'form' %>

<ul class="pager"> 
  <li class="previous">
    <%= link_to '← 返回', post_articles_path %>
  </li> 
  <li class="next">
    <%= link_to '显示 →', @post_article %>
  </li> 
</ul>
